$font-stack: Helvetica, sans-serif;
$dark-blue: #083A81;
$light-blue: #BBE4FF;
$council-white: #f0f0f0;
$council-red: #A00008;
$table-bg: #E6E7E4;

body{
  background-color: #FEFEFE;
  font-family: $font-stack;
  font-size: 13px;
  color: #444444;
}
#bg {
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03);
  -moz-box-shadow:    inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03);
  box-shadow:         inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03);
}
h2 {
  font-size: 1.25em;
  line-height: 150%;
}
p, ul li {
  font-family: $font-stack;
  color: #333333;
  line-height: 125%;
}
a {
  color: $dark-blue;
  font-weight: bold;
  text-decoration: none;
}
.container-table{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: auto;
  .main-content{
    td.caption{
      background-color: #222222;
      vertical-align: middle;
      padding: 5px;
      p{
        color: #FFFFFF;
        text-align: center;
        font-size: 13px;
        line-height: 150%;
        margin: 8px;
      }
    }

  }
}
#header-content {
  font-weight: bold;
  color: $dark-blue;
  font-size: 11px;
  text-decoration: none;
  #billboard{
    background-color: $council-white;
    font-size: 60px;
    margin:0;
    padding:0;
  }
  #weblinks {
    background-color: $dark-blue;
    table{
      height: 25px;
      margin:auto;
      td{
        padding-top: 7px;
        padding-bottom: 5px;
        a{
          height: 25px;
          line-height: 15px;
          font-size: 12px;
          color: $council-white;
        }
      }
    }
  }
  .social{
    height:40px;
    .social-icon{
      width:40px;
      height:40px;
    }
    #date{
      color:$council-red;
    }
  }
}
.top-links{
  height:40px;
  margin:10px auto;
  td{
    text-align: center;
    margin: auto;
    vertical-align: middle;
    &.share{
      width:240px;
      .text{
        text-align: left;
        padding-left:3px;
      }
    }
    &.help{
      width:360px;
    }
    a {
      font-size: 10px;
      line-height: 25px;
      height: 25px;
    }
  }
}
table#featured {
  width: 600px;
  td.caption{
    p{
      a{
        color: #147A9B;
      }
    }
  }
}
td#main-intro-text{
  width: 310px;
  padding-right: 15px;
}
td#table-of-contents{
  padding:5px 0px;
  table{
    width: 240px;
    margin: auto;
    background-color: #f8f8f8;
    border: 1px solid #AAAAAA;
    border-bottom: 4px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -5px #888888;
    h3{
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      margin: auto;
      color: $dark-blue;
      width: 100%;
      height: 30px;
    }
    td{
      border: 1px solid #eeeeee;
      p {
        font-size: 11px;
        line-height: 150%;
      }
    }
  }
}
.container-table{
  .main-content{
    p {
      font-size: 13px;
      line-height: 150%;
      text-align: left;
      color: #404040;
    }
    .large{
      &.quotation-mark{
        text-align:center;
        margin: auto;
        font-weight: bold;
      }
      line-height: 200%;
      font-size: 200%;
    }
    .quote{
      background-color: $council-white;
      margin-left: 10px;
      width:580px;
      border-left: 3px solid #AAAAAA;
      .quotation-mark{
        line-height: 100%;
        font-size: 300%;
      }
    }

    #main-intro-text, .full, .left, .right, .float-left, .float-right {
      h2, p{
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: 5px;
        margin-left: 20px;
        text-align: left;
      }
    }
    .full{
      .imgContainer{
        background-color: #222222;
        }
        img{
          width: 600px;
          margin: 0;
          padding:0;
          border-bottom: 3px solid #111111;
        }
      }
    .left, .right{
      &.imageContainer{
        border: 2px solid #cccccc;
        border-top:none;
        border-bottom:none;
        padding:0;
        background-color: #333333;
        width: 240px;
        img{
          width: 240px;
          margin: 0px;
          border-bottom: 3px solid #222222;
        }
        td.caption{
          p{
            text-align: left;
          }
        }
      }
    }
    .float-left, .float-right{
      table.imageContainer{
        display: inline-block;
        width:260px;
        height: auto;
        img{
          padding: 10px 5px 5px;
          margin: 5px;
        }
      }
    }
    .float-left{
      float: left;
      table.imageContainer{
        float: left;
        img{
          margin-top: 20px;
        }
      }
    }
    .float-right{
      float: right;
      table.imageContainer{
        float: right;
      }
    }
    .banner{
      border:5px solid #f8f8f8;
      p{
        color: #ffffff;
        margin: 10px;
      }
    }
    .space{
      line-height: 1px;
      display: block;
      clear:both;
    }

  }
}
#upcoming{
  text-align: center;
  margin: auto;
  td{
    text-align: center;
    margin: auto;
    width:120px;
    height: 300px;
    h3{
      line-height: 125%;
    }
    p {
      font-size: 14px;
      span{
        display:block;
      }
    }
  }
}
.no-underline{
  text-decoration: none;
}