@media only screen and (min-width:320px) and (max-width: 630px), (max-device-width:640px){
  a[href^="tel"] {
    text-decoration: none; color: black; pointer-events: none; cursor: default;
  }
  a[href^="sms"] {
    text-decoration: none; color: black; pointer-events: none; cursor: default;
  }
  .mobile_link a[href^="tel"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
  }
  .mobile_link a[href^="sms"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
  }
  h2, h3 {
    font-size: 26px !important;
  }
  p, a {
    font-size: 21px !important;
  }
  .table-of-contents ul li a {
    font-size: 18px !important; line-height: 24px !important;
  }
  .main-content{
    td.caption{
      p, a{
        font-size: 13px !important;
        span{
          display: block !important;
        }
        small, small a{
          font-size: 13px !important;
        }
      }
    }
    .left, .right{
      td.imageContainer{
        img{
          width: 100% !important;
        }
      }
    }
  }
  #upcoming{
    .date, .date a{
      font-size: 16px !important;
    }
  }
  #header-content{
    #weblinks {
      table {
        height: 32px;
        td{
          padding-top: 10px;
          padding-bottom: 7px;
          a{
            font-size: 13px !important;
          }
        }
      }
    }
  }
  #featured{
    .caption{
      .date{
        display: block;
      }
    }
  }
  #header-content,
  #footer{
    .top-links{
      td{
        a{
          font-size: 11px !important;
        }
      }
    }
  }
}
/*////// view in browser //////*/
@media only screen{
  #site_header
  {
    position: fixed;
    top: 0;

    width: 100%;
    height: 50px;

    opacity: .95;
    border-bottom: 3px solid #e5e5e5;
  }
  .shareThis
  {
    position: fixed;
    top: 10px;
    right: 33%;
  }
}
